# Python
__pycache__/
*.py[cod]
.venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Generated PDFs
generator/

# Trained models
models/

# Optional: ignore common model file types everywhere
*.pkl
*.joblib
*.h5
*.keras
*.pt
*.pth
*.onnx