joblib==1.5.3
langchain_core==1.6.2
langchain_google_genai==4.4.0
matplotlib==3.11.1
numpy==2.5.3
pandas==2.3.3
plotly==7.0.0
python-dotenv==1.2.3
scikit_learn==1.9.1
seaborn==0.13.2
streamlit==1.55.0
xgboost==3.4.1